@charset "UTF-8";

/* Declarações Gerais */
@media all {
    * {
        margin: 0px;
        padding: 0px;
    }
    
    body, html {
        width: 100vw;
        height: 100vh;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #233eff;
        background-size: contain;
        background-repeat: no-repeat;
    }
    
    h1 {
        color: white;
        text-shadow: 2px 2px 0px #182ab1;
        padding: 10px;
    }

}

/* Declarações Retrato */
@media screen and (orientation: portrait) {
    body {
        background: url('../../imgs/cev-portrait.jpg');
        background-position: center bottom;
        background-size: 90vw 130vh;
    }
}

/* Declarações Paisagem */
@media screen and (orientation: landscape) {
    body {
        background: url('../../imgs/cev-landscape.jpg');
        background-position: left bottom;
    } 
}