@charset  'UTF-8';

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
p {
    text-align: justify;
}
body {
    background-image: linear-gradient(to right, #226F54, #2f9471);
}
main {
    background-color: white;
    width: 600px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #501f70;
}
h1 {
    color: #8C2F39;
    text-align: center;
    text-shadow: 1px 1px 2px #632128;
}
h2 {
    color: #d188c9;
}