@charset "UTF-8";

body {
    background-color: rgb(0, 0, 0);
    background-image: url('../imgs/sistema-solar_ref.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    margin: 0px;
}

.sol {
    background-image: url(../imgs/terra-200px.png);
    background-repeat: no-repeat;
    transform: translate(10px, 10px);
    width: 200px;
    height: 200px;
    position: absolute;
    top: 59%;
    left: 7%;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 0px blue;
}
.terra > a > img {
    background-repeat: no-repeat;
    transform: translate(10px, 10px);
    width: 50px;
    height: 50px;
    position: absolute;
    top: 65%;
    left: 33%;
    background-size: 50px 50px;
    box-shadow: 0px 0px 8px 0px blue;
    border-radius: 50%;
}
.terra:hover {
    cursor: pointer;
}