<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css') }}">
    <title>Qual a hora do dia?</title>
</head>
<body onload="carregar()">
    <header>
        <h1>Hora do Dia</h1>
        <section>
            <div id="msg">!txt</div>
            <div id="foto">
                <img id="imagem" src="static/imgs/manha.png" alt="foto manha">
            </div>
        </section>
    </header>
    <footer>
        <p>&copy; CursoemVideo</p>
    </footer>
    <script src="{{ url_for('static', filename= 'scripts/script.js')}}"></script>
</body>
</html>