@charset "UTF-8";
@font-face {
            font-family: 'idroid';
            src: url(../Android/fontes/idroid.otf) format(opentype);
            font-weight: normal;
            font-style: normal;
        }

body {
    background-color: bisque;
}
#menu {
    text-align: left;
    height: 30px;
}
#menu > a {
    color: white;
    margin: 0% 20px;
    text-decoration: none;
    height: 30px;
}
#menu > a:hover {
    color: #929c97;
}
header {
    background-image: linear-gradient(#32B46C, #174F31);
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
footer {
    background-color: #174F31;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    margin: 0% 10%;
    background-color: rgb(255, 255, 255);
    padding: 0% 30px;
    text-align: justify;
    align-content: center;
}
main > p {
    text-indent: 30px;
    font-family: Arial, Helvetica, sans-serif;
    
}
main > h1 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #174F31;
}
main > h2 {
    font-family: 'idroid', Arial, Helvetica, sans-serif;
    font-weight: 200;
    color: #174F31;
    background-image: linear-gradient(to right, #6dd69c, #ffffff);
    padding-left: 10px;
}
picture {
    margin: 0% 10%;
}
.destaque {
    text-decoration: none; 
    color: rgb(6, 94, 6);
}
.especial {
    background-image: linear-gradient(to right, #86dbac, #8bcfaa);
    padding: 0% 7px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
.especial:hover {
    text-decoration: underline;
}
.especial:visited {
    color: rgb(99, 41, 99);
}
.especial:active {
    color: #929c97;
}
section {
    border-radius: 10px;
    background-color: #8dddb1;
    font-family: Arial, Helvetica, sans-serif;
}
section > h2 {
    background-color: rgb(13, 63, 13);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px 10px 0px 0px;
    padding: 7px;
}
section > p {
    padding: 0% 10px;
    text-align: justify;
    text-indent: 30px;
    font-weight:lighter;
}
.container {
    display: flex;
}
.container > #box1 {
    margin-right: 300px;
}
