@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Italianno&family=Montserrat:ital,wght@0,451;1,451&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Julius+Sans+One&display=swap');


* { 
    margin: 0px;
    padding: 0px;
}


header {
    background-color: black;
    text-align: center;
    padding: 25px;
}
header h1 {
    color: white;
    font: normal 400 125px 'Bebas Neue';
}
header h4, strong {
    font: normal lighter 20px Arial;
}
header h4 {
    color: rgba(255, 255, 255, 0.76);
}
header strong {
    color: white;
}


.parte_txt {
    width: max-content;
}
.refrao{
    font: normal bold 40px 'julius Sans One';
    line-height: 90px;
    margin-top: 60px;
    margin-left: 25px;
}


.parte-img {
    background-color: black;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 40px 0px;
}
#img1 {
    background-image: url('imagens/pexels-karola-g-4622893.jpg');
}
#img2 {
    background-image: url('imagens/pexels-asumaani-15130118.jpg');
    background-position: bottom center;
}
.parte-img section {
    backdrop-filter: blur(10%);
    width: max-content;
    margin-left: 25px;
    padding: 35px 0px;
}
.parte-img section p {
    margin-top: 20px;
    color: white;
}


footer {
    background-color: black;
    text-align: center;
    margin-top: 150px;
    padding: 10px;
}
footer p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}
