@charset "UTF-8";

/* Todas as demais medias */

/* Tipical Device Breakpoints 
-----------------------------
Pequenas Telas: até 600px
Celular: 600px a 768px
Tablet: 768px a 992px
Desktop: 992px a 1200px
Grandes Telas: acima de 1200px
*/

@media print {
    body {
        background-image: url('../../imgs/back-print.jpg');
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: none;}
    img#tv {display: none;}
}

@media screen and (max-width:768px) {
    h1::after {
    content: ' Versão Mobile';
    color: rgb(83 83 83);
    text-shadow: none;
    }
}

@media screen and (min-width:768px) and (max-width: 992px) {
    body {
        background-image: url('../../imgs/back-tablet.jpg');
    }
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}

    h1::after {
    content: ' Versão Tablet';
    color: rgb(83 83 83);
    text-shadow: none;
    }
}

@media screen and (min-width:992px) and (max-width:1200px) {
    body {
        background-image: url('../../imgs/back-pc.jpg');
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}

    h1::after {
    content: ' Versão Desktop';
    color: rgb(83 83 83);
    text-shadow: none;
    }
}

@media screen and (min-width:1200px) {
    body {
        background-image: url('../../imgs/back-tv.jpg');
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}

    h1::after {
    content: ' Versão para Grandes Telas';
    color: rgb(83 83 83);
    text-shadow: none;
    }
}